* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding: 0.8rem;
  background-image: linear-gradient(to right, purple, rgb(149, 70, 136));
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.navbar--image {
  width: 4rem;
  border-radius: 25rem;
  margin-right: 1rem;
}

/* ==================================================================================================== */

.form {
  margin: 2rem 5rem;
}

.inputs {
  display: flex;
  justify-content: space-around;
}

.input--box {
  width: 45%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-color: grey;
  border-width: 0.5px;
}

.form--button {
  padding: 1rem;
  width: 95%;
  font-size: 1rem;
  background-image: linear-gradient(to right, purple, rgb(149, 70, 136));
  border-radius: 0.5rem;
  color: white;
  border-width: 0;
  display: flex;
  margin: 1rem auto;
  justify-content: center;
}
