body {
  background-image: url("../images/logo512.png");
  background-repeat: no-repeat;
  background-position-y: 1000%;
  background-position-x: 130%;
  background-blend-mode: soft-light;
}

.main-content {
  padding-top: 4rem;
  padding-left: 4rem;
  color: white;
}

.title {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.list {
  padding-left: 3rem;
  font-size: 1.5rem;
}

.list > li::marker {
  color: #61dafb;
  font-size: 2rem;
}

.list-item {
  margin-bottom: 0.8rem;
}
